home/.config/nvim/lazy-lock.json
dockerfiles/Vars.mk

# herdr runtime cfgs
home/.config/herdr/.plugins.lock
home/.config/herdr/herdr-client.log
home/.config/herdr/herdr-server.log
home/.config/herdr/plugins.json
home/.config/herdr/session.json
home/.config/herdr/release-notes.json

